name: CI / Automated testing
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Elixir ${{ matrix.elixir }} OTP ${{ matrix.otp }} on ${{ matrix.os }}
    env:
      MIX_ENV: test

    strategy:
      # https://hexdocs.pm/elixir/1.19/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
      fail-fast: false
      matrix:
        include:
          - elixir: 1.14.x
            otp: 25.x
            os: ubuntu-latest
            command: mix test
          - elixir: 1.19.x
            otp: 28.x
            os: ubuntu-latest
            command: mix test
          - elixir: 1.19.x
            otp: 28.x
            os: windows-2022
            command: mix test --exclude blowfish
          - elixir: 1.19.x
            otp: 28.x
            os: macos-latest
            command: mix test --exclude blowfish

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        id: setup-beam
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - name: Cache deps
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: cache-v4-${{steps.setup-beam.outputs.elixir-version}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            cache-v4-${{steps.setup-beam.outputs.elixir-version}}-
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mix deps.get
      - name: Check code formatting
        if: matrix.elixir == '1.19.x' && matrix.os == 'ubuntu-latest'
        run: mix format --check-formatted
      - name: Compile dependencies
        run: mix deps.compile
      - name: Compile code (warnings as errors)
        run: mix compile --warnings-as-errors
      - name: Run tests
        run: ${{ matrix.command }}
      - name: Node shutdown on machine ID conflict test
        run: ./test/test_conflict_guard.sh
      - name: Create docs
        if: matrix.elixir == '1.19.x' && matrix.os == 'ubuntu-latest'
        run: mix docs
